{:source-paths ["src/cljs" "src/clj" "resources"]
 :dependencies [[reagent "1.3.0"]
                [re-frame "1.3.0"]
                [cljs-ajax "0.8.4"]
                [cider/cider-nrepl "0.57.0"]]
 :nrepl {:port 8777
         :middleware [cider.nrepl/cider-middleware]}
 :maven
 {:repositories
  {"central" {:url "https://maven.aliyun.com/repository/central"}
   "clojars" {:url "https://mirrors.tuna.tsinghua.edu.cn/clojars/"}}}
 :dev-http {8080 {:root "target/public"}}
 :builds
 {:app {:target :browser
        :output-dir "target/public/js"
        :asset-path "/js"
        :modules {:main {:init-fn pearl-map.core/init}}
        :devtools {:after-load pearl-map.core/reload}
        :dev {:compiler-options {:closure-defines {re-frame.trace.trace-enabled? true}
                                 :build-hooks [(pearl-map.build/copy-maplibre-css)]}}
        :release {:compiler-options {:build-hooks [(pearl-map.build/copy-maplibre-css)]}}}
  :test {:target :browser-test
         :test-dir "target/test"
         :ns-regexp "-test$"}}}
